<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="app">
            {{!-- lấy từ file ở thư mục partials --}}
            {{> header}}

            <div class="container">
                {{!-- Lấy từ file cấp thư mục views--}}
                {{{body}}}  
            </div>

            {{> footer}}

        </div>
    </body>
</html>